*.swp
*.test
.task
/.idea/
/.vscode/
/Taskfile.yaml
/bin/
/build/
/dist/
/go.work
/go.work.sum
node_modules/
/pkg/ts/embed/*/*/deno.gz
/pkg/ts/embed/*/*/deno.sha256
/pkg/ts/embed/*/*/deno.gz.*.tmp
/pkg/ts/embed/*/*/deno.sha256.tmp
/.opencode/
/.sisyphus
